<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Surf Buddy</title>
  </head>
  <body>
  <h1>HEYO!</h1>

  <%= beaches %>

  <form class="search" action="/" method="post">
    <input type="text" name="name" value="">
    <input type="submit" value="Search">
  </form>

  </body>
</html>